.question-container {
  margin: 1rem 0 0;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(180 210 253 / 54%);
  &-answers {
    margin-top: 0.5rem;
    display: flex;
    gap: 5px;
  }

  div.button {
    cursor: default !important;
    pointer-events: none;
  }
}
