<div class="question-container">
  <h2 [innerHTML]="quizQuestion.question | safeHtml"></h2>

  <ul class="question-container-answers">
    <li class="question-container-answer" *ngFor="let answer of quizQuestion.answers">
      <ng-container *ngTemplateOutlet="readOnly ? readOnlyTpl : notReadOnlyTpl; context: {answer}">
      </ng-container>
    </li>
  </ul>
</div>

<ng-template #notReadOnlyTpl let-answer="answer">
  <button [ngClass]="{'selected': answer === result}" (click)="onClick(answer)"
    [innerHTML]="answer | safeHtml"></button>
</ng-template>

<ng-template #readOnlyTpl let-answer="answer">
  <div class="button"
    [ngClass]="{'low': answer === quizQuestion.result, 'high': answer === quizQuestion.correct_answer}"
    [innerHTML]="answer | safeHtml"></div>
</ng-template>