/**
 * Basic ready to use CSS Style
 */

html {
  height: 100%;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

h2 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  position: relative;
}

.container header {
  margin: 10px;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/*section*/
.main {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.demo-wrapper {
  padding: 35px 20px;
  background: #f8f8f8;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgba(255, 255, 255, 0.4);
  border-bottom-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  width: 800px;
  margin: 0 auto;
  gap: 1.5rem;
}

.action-wrapper {
  width: 100%;
  margin: 20px auto;
}

.score-wrapper {
  width: 100%;
  padding: 1rem;
}

select {
  display: inline-block;
  padding: 5px;
  border: 1px solid #f1b720;
  color: #333;
  width: 250px;
}

button,
.button {
  cursor: pointer;
  text-align: center;
  padding: 6px 15px;
  border-radius: 5px;
  background: rgb(20, 110, 200);
  border: 1px solid rgb(20, 110, 200);
  color: rgb(255, 255, 255);
  &:hover {
    background: rgb(10, 110, 220);
    border-color: rgb(10, 110, 220);
  }
  &:disabled {
    background: #dddddd;
    color: #aaaaaa;
    border-color: #dddddd;
    cursor: default !important;
  }
  &.selected {
    background: #339900;
    border-color: #339900;
  }
  &.action {
    background: rgb(10, 10, 100);
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.low {
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
  color: white !important;
}

.medium {
  background-color: #f5f526 !important;
  border-color: #f5f526 !important;
  color: black !important;
}

.high {
  background-color: #339900 !important;
  border-color: #339900 !important;
  color: white !important;
}
